@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;
    --primary: 161 94% 30%;
    --primary-foreground: 210 40% 98%;
    --radius: 1rem;
  }
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* ==========================================================================
   Scrollbar customizada - preta e mais larga
   ========================================================================== */
.custom-scrollbar::-webkit-scrollbar {
  width: 48px;
  height: 48px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* cria um efeito de relevo */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Para Firefox */
.custom-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: #333 #f1f1f1;
}